*{
    border: none;
    padding: none;
    margin: 0;
    list-style: none;

}
:root{
    --primary-color:#450774;
    --primary-variant:#420470;
    --primary-btn-color:#9a1ae9;
    --blur-color:#ca9e03;
    --white-color:#ffff;
    --subliminal-color:#f7a761;
    --dark-bg:#250539;
    --primary-dark-color:#150320;
}
.font{
    font-weight: bold;
    color: var(--white-color);
}
.font-larg{
    font-size: 80px;
    

}
.font-info{
    font-size: 52px;

}
.font-medum{
    font-size: 42px;
}
.font-small{
    font-size: 18px;
}
#page{
    height: 100vh;
    display: flex;
    justify-content: center;
 
}
a{
    color: var(--white-color);
    text-decoration: none;
}
.btn{
    padding: .6em 1em;
    border-radius: 10%;
}
.bg-dark{
    background: #150320bd;
    backdrop-filter: blur(2rem);

}
.container{
    width: 70%;
  background: linear-gradient(60deg,var(--primary-color),#7328a1);
  display: flex;
  justify-content: center;
  padding-top: 3em;
margin-inline: 4em;
padding-inline: 8em;
    
}
.navigation{
    display: flex;
   gap: 10em;
}
.navigation .nav-link{
    display: flex;
    gap: 8em;
    
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 2em;
   
}
.navigation ul li{
    font-weight: bold;
    font-family: "Poppins";
}
li .active{
    color: var(--primary-btn-color);
}