*{
    border: none;
    padding: none;
    margin: 0;
    list-style: none;

}
:root{
    --primary-color:#450774;
    --primary-variant:#420470;
    --primary-btn-color:#9a1ae9;
    --blur-color:#ca9e03;
    --white-color:#ffff;
    --subliminal-color:#f7a761;
    --dark-bg:#250539;
    --primary-dark-color:#150320;
}
.font{
    font-weight: bold;
    color: var(--white-color);
}
.font-large{
    font-size: 80px;
    

}
.font-info{
    font-size: 52px

}
.font-medium{
    font-size: 42px;
}
.font-small{
    font-size: 18px;
}
#page{
    display: flex;
    justify-content: center;
 
}
a{
    color: var(--white-color);
    text-decoration: none;
}
.btn{
    padding: .6em 1em;
    border-radius: 10%;
}
.bg-dark{
    background: #150320bd;
    backdrop-filter: blur(2rem);

}
.container{
    width: 70%;
  background: linear-gradient(60deg,var(--primary-color),#7328a1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3em;
margin-inline: 4em;
padding-inline: 8em;
    
}
.navigation{
    display: flex;
    width: 100%;
   gap: 8em;

}
.navigation .nav-link{
    display: flex;
    justify-content: space-between;
gap: 16em;
    
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 1em;
   
}
.navigation ul li{
    font-weight: bold;
    font-family: "Poppins";
}
.left ul{
    gap: 4em;
}
li .active{
    color: var(--primary-btn-color);
}
.header{
    margin-top: 8em;
    display: flex;
    width: 85%;
    justify-content: space-between;
    gap: 8em;
   

}
.header-info{
    font-family: "Poppins";
    color: var(--white-color);
}
.header-info .main-content{
    font-size: 62px;
  
    font-weight: bold;
}
.header-img{
/* background-image: url(./dependencies/images/topLogos/bigImg.svg);
background-size: cover;
background-position: center;
background-repeat: no-repeat; */
/* height: 8em; */

 position: relative;
 
}
/* .header-info p:last-of-type{
    width: 70%;
    font-weight: 200;
    font-size: 1em;
   

} */
.header-img img:first-child{
    width: 100%;
    height: 100%;
    
}
.header-img::before{
height: 40px;
width: 40px;
    position: absolute;
    content: '';
    left: 0;
    top: -20em;
    /* backdrop-filter:blur(2em); */
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 60px var(--subliminal-color);
}
.header-img .small-img{
    position: absolute;
    bottom: 2em;
    left: -8em;
}
.cta-buttons{
    margin-top: 4em;
    display: flex;
    gap: 2em;
    font-size: 1.5em;
    align-items: center;
    width: 100%;
}
.cta-buttons .explore{
    background-color: var(--primary-btn-color);
    border-radius: 10px;
    padding:1em 4em;
    cursor: pointer;
}
.cta-buttons .createnft{
    color: var(--subliminal-color);
    display: flex;
    align-items: center;
    font-weight: 900;
    gap: 1em;
    cursor: pointer;
}
.mid-section{
    margin-top: 6em;
    
}
.logo-container{
    display: flex;
    gap: 3em;
    position: relative;
    align-items: center;
    
}
.logo-container::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: -2em;
    left: -2em;
    border: 3px solid rgba(255, 255, 255, 0.555);
    border-top-color:rgba(247, 240, 240, 0.247) ;
    border-radius: 20px;
    border-left-color: #ffffff60;
    background: transparent;
    /* box-shadow: .2px 1px 5px rgb(235, 232, 232); */
    transform: skew(20deg);
    padding: 2em;
}
.logo-container img{
    width: 12em;
   
}
.mid-section{
    margin-bottom: 4em;
} 
.midheading-text{
    margin: 6em auto;
    text-align: center;
    
}
.midheading-text p{
    font-weight: 100;
    color: var(--white-color);
    letter-spacing: 3px;
  font-size: 20px;
}
.mid-cards{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbox{
    position: absolute;
    padding: 1em;
    height: 1em;
    width: 1em;
    background: #150320e3;
    transform: rotate(45deg);
    top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--white-color);
    border-radius: .4em;
}
.navbox i{
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.8em;
    transform: rotate(-45deg);
}
.navbox.nav-right{
right: -30px;
}
.navbox.nav-left{
    left: -30px;
    rotate: -180deg;
}
.card{
    padding: 1em;
    background: var(--primary-variant);
    border-radius: 1em;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 1em;

}
.card-image{
    height: 200px;
    width: 250px;
    border-radius: 1em;
    background-color: #9a1ae9;
}
.card-image img{
    height: 100%;
    width: 100%;
}
.card-mid-text .upper-mid{
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card-mid-text .upper-mid span{
    font-size: 2em;
  
}
.card-mid-text .lower-mid{
    font-weight: 100;
    color:var(--primary-btn-color)
}
.card-bottom-cnt{
    display: flex;
    justify-content: space-between;
    color: var(--subliminal-color);
    font-weight: 600;
    font-size: 1.5em;
    align-items: center;
}
.card .button{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card .button .nftbtn{
    width: 80%;
    background: var(--primary-btn-color);
    padding:1em .1em;
    border-radius: 2em;
}
